.border {
		border: 8px black solid;
		text-align: center;
		background-color: #99CDFF;
}

.button {
		border-radius: 6px;
		color: red;
}

.netincome {
		color: 8px black solid;
		text-align: center
}



		
